*{
	margin:  0;
	padding: 0;
	font-family: sans-serif;
}
.container{
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(images/background.png);
	background-position: center;
	background-size: cover;
	position: absolute;
}
.title{
	text-align: center;
	padding: 10px 30px;
	background: transparent;
	color: skyblue;
	position: relative;
	outline: none;
}
.form-box{
	width: 380px;
	height: 400px;
	position: relative;
	margin: 6% auto;
	background: #fff;
	padding: 5px;
	overflow: hidden;
}
.input-group{
	top: 70px;
	position: absolute;
	width: 300px;
	transition: .5s;
}
.input-field{
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-left: 5px;
	border-top: 5px;
	border-right: 5px;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
}
.check-box{
	margin: 30px 10px 30px 0;
}
span{
	color: #777;
	font-size: 12px;
	bottom: 68px;
	position: absolute;
}
.submit-btn{
	width: 90%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: linear-gradient(to right, skyblue, darkblue);
	border: 0;
	outline: none;
	border-radius: 30px;
}
